node_modules
dist
dist-ssr
*.local

# TypeScript incremental
tsconfig.tsbuildinfo

.DS_Store
*.log

.vscode/*
!.vscode/extensions.json
.idea

ios/App/Pods
ios/App/App/public
ios/App/build
ios/App/DerivedData
ios/App/App.xcworkspace/xcuserdata
ios/App/App.xcodeproj/xcuserdata

plugins/system-volume/dist
.vercel
